footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: 1px solid transparent
}

footer p {
  margin-bottom: 0;
  margin-top: 0
}
