body {
  padding: 10px;
  min-height: 100vh
}

body.minimal {
  border: none;
  padding: 0
}

#site-border-bottom, #site-border-left, #site-border-right, #site-border-top {
  background: #000;
  position: fixed;
  z-index: 1
}

#site-border-left, #site-border-right {
  top: 0;
  bottom: 0;
  width: 10px
}

#site-border-left {
  left: 0
}

#site-border-right {
  right: 0
}

#site-border-bottom, #site-border-top {
  left: 0;
  right: 0;
  height: 10px
}

#site-border-top {
  top: 0
}

#site-border-bottom {
  bottom: 0
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: 1px solid transparent
}

footer p {
  margin-bottom: 0;
  margin-top: 0
}
